<a href="https://colab.research.google.com/github/Pawan-j-acharya/python_workshop/blob/main/pyWS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
x,y,z="program","bannana","cherry"
print("python is a "+x)
print(y)
print(z)

python is a program
bannana
cherry

#Exercise 1

In [37]:
carname="volvo"
print(carname)

volvo

#Exercise 2

In [39]:
x=50
print(x)
print(type(x))

50
<class 'int'>

#Exercise 3

In [43]:
x,y=5,10
print(x+y)

15

#Exercise 4

In [48]:
x,y,z=11,17,x+y
print(z)

28

In [93]:
x1="Hello World"
x2=5
x3=5.6
x4=["apple","bannana","cherry"]
x5=("apple","bannana","cherry")
x6=range(6)
x7={"name":"jhonwick","age":36}
x8={"apple","bannana","cherry"}
x9=True

In [54]:
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'bool'>

In [69]:
d= 3+2j
print(type(d))
print(x)

<class 'complex'>
-3255522

In [74]:
x=range(9)
for n in x:
 print(n)

0
1
2
3
4
5
6
7
8

In [84]:
x={1,2,3,4,2}
print(x)

{1, 2, 3, 4}

In [95]:

x=int(input())
print(bool(x))

0
False

In [100]:
x,y,z=1,2.0,1.j
a,b,c=float(x),int(y),complex(z)
print(a)
print(b)
print(c)

1.0
2
1j

In [107]:
x=int ()
print(type(x))

<class 'int'>

#Exersie 5

In [120]:
x,y='2','3'
print("x+y="+ x+y)

x+y=23

In [136]:
name="jay smith"
print(name[4])
print(type(name))
print(len(name))
print("smith"in name)
print("shashank "in name)

s
<class 'str'>
9
True
False

In [154]:
txt="UCHIHA ITACHI"
print("UCHIHA"in txt)

True

In [151]:
txt="shreyas kun baka des ka!!!"
print(txt[0:16])
print(txt[16:])
print(txt[-16:-7])

shreyas kun baka
 des ka!!!
n baka de

#modifing

In [156]:
txt="UCHIHA ITACHI"
print(txt.upper())
print(txt.lower())

UCHIHA ITACHI
uchiha itachi

In [162]:
a="domain expansion"
b=": perfect idle transfigurted"
print(a+b)

domain expansion: perfect idle transfigurted

In [167]:
age=19
txt="my name is pawan and my age is {}"
print(txt.format(age))

my name is pawan and my age is 19

In [169]:
txt="Hello\nWorld"
print(txt)
txt="hello\tWorld"
print(txt)

Hello
World
hello	World

In [177]:
txt="pawan j acharya"
txt2="PAWAN J ACHARYA"
print(txt.capitalize())
print(txt.upper())
print(txt.isupper())
print(txt2.lower())
print(txt.isalpha())

Pawan j acharya
PAWAN J ACHARYA
False
pawan j acharya
False

In [205]:
name=input("enter the name :")
print(len(name))
print(name[0:4])
print(name.upper())
name1="name{}"
txt="college"
print(name +" college")
print(name1.format(txt))
print(name.isdigit())

enter the name :alvas
5
alva
ALVAS
alvas college
namecollege
False

In [223]:
x=5
y=2
print(x==y)

False

In [225]:
print(10>5)
print(100%50)

True
0

In [232]:
x,y=int(input("enter the first value:")),int(input("enter the second value:"))
print(x+y)
print(x-y)
print(x/y)
print(x*y)
print(x%y)

enter the first value:5
enter the second value:3
8
2
1.6666666666666667
15
2

In [250]:
L=["ece","cse","ise","civil","mech"]
print(L)
print(len(L))
print(L[2:5])
print(L[:5])
print(L[3:])

['ece', 'cse', 'ise', 'civil', 'mech']
5
['ise', 'civil', 'mech']
['ece', 'cse', 'ise', 'civil', 'mech']
['civil', 'mech']

In [261]:
thislist=["apple","bannana","cherry"]
tropical=["mango","pineapple","papaya"]
newlist=thislist+tropical
print(len(thislist))
print(len(tropical))
thislist.append("orange")
print(thislist)
print(newlist)
print(len(thislist))
thislist.pop(1)
print(thislist)

3
3
['apple', 'bannana', 'cherry', 'orange']
['apple', 'bannana', 'cherry', 'mango', 'pineapple', 'papaya']
4
['apple', 'cherry', 'orange']

In [302]:
lists=[199,35,374,50,3]
lists.sort()
print(lists)

[3, 35, 50, 199, 374]

In [301]:
lists=[199,35,374,50,3]
lists.sort(reverse = True)
print(lists)

[374, 199, 50, 35, 3]

In [268]:
nameList=["Harsh","prathik","bob","dhruv"]
print(nameList[1])

prathik

In [276]:
animal=["cat","dog","fish","goat"]
age=[1,2,2,6]
animal.append(age)
print(animal)
animal=["cat","dog","fish","goat"]
newlist=animal+age
print(newlist)

['cat', 'dog', 'fish', 'goat', [1, 2, 2, 6]]
['cat', 'dog', 'fish', 'goat', 1, 2, 2, 6]

In [283]:
age=[1,2,3,6]
age.append(9)
print(age)
age.pop(2)
print(age)
age.count(3)

[1, 2, 3, 6, 9]
[1, 2, 6, 9]

0

#python tuple

In [305]:
thistuple=("apple","bannana","cherry")
print(type(thistuple))
print(thistuple)

<class 'tuple'>
('apple', 'bannana', 'cherry')